@{ 
    ViewBag.Title = "FUTA Express App Landing Page";
}
<section id="app-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-7 description">
                <h1>Ứng dụng<br /> tạo đơn hàng FUTA EXPRESS</h1>
                <p>
                    Với nỗ lực không ngừng nâng cao dịch vụ khách hàng FUTA<br /> Express luôn mong muốn mang đến cho khách hàng những trải<br />
                    nghiệm tốt nhất có thể
                </p>
                <div class="download-button">
                    <a href="/">
                        <img src="/Content/images/private/App-taodonhang/btn_google-play.png" />
                    </a>
                    <a href="/">
                        <img src="/Content/images/private/App-taodonhang/btn_appstore.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="app-feature">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6">
                <h4 class="gddongian-ico">Giao diện đơn giản</h4>
                <h4 class="desudung-ico">Dễ sử dụng</h4>
                <h4 class="tienquanly-ico">Tiện quản lý</h4>
            </div>
        </div>
    </div>
</section>
<section id="more-app-feature">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h4 class="donhangnhanhgon-ico">Tạo đơn hàng nhanh gọn</h4>
                <h4 class="trangthaicapnhat-ico">Trạng thái đơn hàng cập nhật liên tục</h4>
                <h4 class="thanhtoandedang-ico">Thanh toán dễ dàng - bảo mật</h4>
            </div>
            <a class="android-btn" href="/"><img src="/Content/images/private/App-taodonhang/btn_guidandroid.png" /></a>
            <a class="ios-btn" href="/"><img src="/Content/images/private/App-taodonhang/btn_guidIOS.png" /></a>
        </div>
    </div>
</section>
<div class="example-interface container">
    <img src="/Content/images/private/App-taodonhang/4.png" />
</div>