<section id="bill-create">
    <div class="container">
        <h1 class="text-main1 text-center">TẠO ĐƠN HÀNG</h1>
        <div class="row">
            <div class="sender-information col-md-6">
                <h3>01</h3>

                <h4>Thông tin người gởi cá nhân</h4>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="address" class="control-label col-md-3 tencongty-ico">Họ tên <span>(*)</span></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Enter address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="control-label col-md-3 sodienthoai-ico">Điện thoại <span>(*)</span></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Enter address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label col-md-3 email-ico">Email <span>(*)</span></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Enter name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="control-label col-md-3 diachi-ico">Địa chỉ <span>(*)</span></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Enter address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="control-label col-md-3 thanhpho-ico">Thành phố <span>(*)</span></label>
                        <div class="col-md-9">
                            <select class="selectpicker form-control">
                                <option>-- Thành phố --</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="control-label col-md-3 quanhuyen-ico">Quận huyện <span>(*)</span></label>
                        <div class="col-md-9">
                            <select class="selectpicker form-control">
                                <option>-- Quận huyện --</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="control-label col-md-3 phuongxa-ico">Phường xã <span>(*)</span></label>
                        <div class="col-md-9">
                            <select class="selectpicker form-control">
                                <option>-- Phường xã --</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="control-label col-md-3 taikhoannganhang-ico">
                            Tài khoản ngân hàng <br />
                            (Dùng để chuyển lại tiền thu hộ cho bạn)
                        </label>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Số tài khoản">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Chủ tài khoản (không nhập dấu)">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Chọn ngân hàng">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Chi nhánh">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="radio" checked="checked"> Lưu thông tin thẻ để sử ụng cho lần sau
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="receiver-information col-md-6">
                <h3>02</h3>

                <h4>Thông tin người nhận</h4>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="address" class="control-label col-md-3 tencongty-ico">Họ tên <span>(*)</span></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Enter address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="control-label col-md-3 sodienthoai-ico">Điện thoại <span>(*)</span></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Enter address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label col-md-3 email-ico">Email <span>(*)</span></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Enter name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="control-label col-md-3 diachi-ico">Địa chỉ <span>(*)</span></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Enter address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="control-label col-md-3 thanhpho-ico">Thành phố <span>(*)</span></label>
                        <div class="col-md-9">
                            <select class="selectpicker form-control">
                                <option>-- Thành phố --</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="control-label col-md-3 quanhuyen-ico">Quận huyện <span>(*)</span></label>
                        <div class="col-md-9">
                            <select class="selectpicker form-control">
                                <option>-- Quận huyện --</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="control-label col-md-3 phuongxa-ico">Phường xã <span>(*)</span></label>
                        <div class="col-md-9">
                            <select class="selectpicker form-control">
                                <option>-- Phường xã --</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="package-selection col-md-6">
                <h3>03</h3>

                <h4>Phương thức giao hàng</h4>
                <div class="radio">
                    <input type="radio" name="radio1" id="radio1" value="option1" checked="">
                    <label for="radio1">
                        Giao hàng tận nơi
                    </label>
                </div>
                <div class="radio">
                    <input type="radio" name="radio1" id="radio2" value="option2">
                    <label for="radio2">
                        Giao và nhận hàng tận nơi
                    </label>
                </div>
                <div class="radio">
                    <input type="radio" name="radio1" id="radio3" value="option3">
                    <label for="radio3">
                        Giao và nhận hàng tại văn phòng FUTA Express
                    </label>
                </div>
                <h4>Chế độ giao hàng</h4>
                <div class="col-md-8">
                    <div class="row">
                        <select class="selectpicker form-control">
                            <option>-- Thành phố --</option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <h4>Phương thức người thanh toán</h4>
                <div class="radio">
                    <input type="radio" name="radio2" id="test1" value="option1" checked="">
                    <label for="test1">
                        Người gửi trả phí
                    </label>
                </div>
                <div class="radio">
                    <input type="radio" name="radio2" id="test2" value="option2">
                    <label for="test2">
                        Người nhận trả phí
                    </label>
                </div>
            </div>
            <div class="package-information col-md-6">
                <h3>04</h3>

                <h4>Thông tin hàng hóa</h4>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="address" class="control-label col-md-4 tenhanghoa-ico">Tên hàng hóa</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="address" placeholder="Enter address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="control-label col-md-4 khoiluong-ico">Khối lượng (g)</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="address" placeholder="Enter address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="control-label col-md-4 kichthuoc-ico">Kích thước (cm)</label>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Dài (cm)">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Rộng (cm)">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Cao (cm)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <label for="address" class="control-label col-md-12 anhmophong-ico">Ảnh mô phỏng hàng hóa</label>
                                <a href="/">Tải ảnh lên</a>
                                <img src="/Content/images/private/Taodonhang/ic_photo.png" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label for="address" class="control-label col-md-12 videomophong-ico">Video mô phỏng hàng hóa</label>
                                <a href="/">Tải video lên</a>
                                <img src="/Content/images/private/Taodonhang/ic_video.png" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="count-fee col-md-6">
                <h3>05</h3>
                <h4>Cước phí tạm tính</h4>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="name" class="control-label col-md-4 nhapmagiam-ico">Nhập mã giảm nếu có</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Mã giảm giá">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label col-md-4 cuocphitamtinh-ico">Cước phí tạm tính</label>
                        <div class="col-md-8">
                            <input type="number" class="form-control" placeholder="VNĐ">
                        </div>
                    </div>
                </form>
            </div>
            <div class="count-time col-md-6">
                <h3>06</h3>
                <h4>Thời gian dự kiến</h4>
                <p class="col-md-6 row">Nhận hàng:</p>
                <p class="col-md-6 row">Giao hàng:</p>
                <p class="col-md-12 row">(Kể từ thời điểm chúng tôi xác nhận đơn hàng này)</p>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <button type="submit" class="basicbtn btn-main1 text-uppercase">Yêu cầu tạo đơn</button>
                <button type="submit" class="basicbtn btn-main2 text-uppercase">Hủy đơn</button>
            </div>
        </div>
    </div>
</section>