<section id="customer-part">
    <div class="container">
        <div class="row">
            <div class="send-feedback">
                Gởi góp ý - Thắc mắc - Yêu cầu
            </div>
            <div class="questions">
                Câu hỏi thường gặp
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="none">Tổng đài hỗ trợ và CSKH</h4>
                    <h3>1900 6767</h3>
                    <div class="subscribe-form">
                        <h4 class="none">Tổng đài hỗ trợ và CSKH</h4>
                        <div class="input-group icon-addon addon-lg">
                            <input type="text" class="form-control" placeholder="Nhập địa chỉ email của bạn" />
                            <div class="input-group-btn">
                                <button class="btn" type="submit">
                                    Đăng ký
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="radio"> Tôi đồng ý với <a href="/" class="text-main1">Điều khoản sử dụng</a>
                                và <a href="/" class="text-main1">Chính sách bảo mật</a>
                            </label>
                        </div>
                    </div>
                    <div class="footer-social">
                        <ul>
                            <li>
                                <a href="/" class="ft-facebook-i"></a>
                            </li>
                            <li>
                                <a href="/" class="ft-twitter-i"></a>
                            </li>
                            <li>
                                <a href="/" class="ft-google-i"></a>
                            </li>
                            <li>
                                <a href="/" class="ft-youtube-i"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-7">
                            <h4>Dịch vụ</h4>
                            <ul class="other-page-link">
                                <li><a href="javascript:;">Dịch vụ hỏa tốc FUTA Express</a></li>
                                <li><a href="javascript:;">Dịch vụ chuyển phát nhanh</a></li>
                                <li><a href="javascript:;">Dịch vụ chuyển tiết kiệm</a></li>
                                <li><a href="javascript:;">Dịch vụ hàng hóa giá trị cao</a></li>
                                <li><a href="javascript:;">Dịch vụ phát hàng thu tiền</a></li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <h4>FUTA Express</h4>
                            <ul class="other-page-link">
                                <li><a href="javascript:;">Về chúng tôi</a></li>
                                <li><a href="javascript:;">Dịch vụ</a></li>
                                <li><a href="javascript:;">Tin tức</a></li>
                                <li><a href="javascript:;">Bảng báo giá</a></li>
                                <li><a href="javascript:;">Tuyển dụng</a></li>
                                <li><a href="javascript:;">Hỏi đáp</a></li>
                                <li><a href="@Url.RouteUrl("Contact")">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ft-sumenh">
                        <h4>Sứ mệnh chúng tôi</h4>
                        <img src="/Content/images/private/home/1.png" />
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                        quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                        <a href="/">Xem thêm <span class="text-main1">&#187;</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        &copy; 2012 - @DateTime.Now.ToString("yyyy") | Công ty CP dịch vụ chuyển phát Phương Trang | <a href="http://futaexpress.vn">www.futaexpress.vn</a>
    </div>
</footer>